.alert-danger{
	margin-top : 10px;
}

.glyphicon-exclamation-sign{
	margin-right : 5px;
}

img{
	width: 150px;
	margin: 0 auto;
}

section{
	background: #;
	color: #2d2d30;
}

footer{
	padding-bottom: 3px;
	padding-top: 8px;
	background: #2d2d30;
	color: #bdbdbd;	
}

.panel-default > .panel-heading-custom, .panel-default > .panel-footer-custom, #panel-heading-custom{
	background: #2d2d30;
	color: #bdbdbd;
}

.panel{
	margin-left: 15px;
	margin-right: 15px;
}

#centered{
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
}