.alert-danger{
	margin-top : 10px;
}

.glyphicon-exclamation-sign{
	margin-right : 5px;
}

img{
	width: 150px;
	margin: 0 auto;
}

section{
	background: #;
	color: #2d2d30;
}

footer{
	padding-bottom: 3px;
	padding-top: 8px;
	background: #2d2d30;
	color: #bdbdbd;	
}

#panel-heading-custom{
	background: #2d2d30;
	color: #bdbdbd;
}
